[Desktop Entry]
Version=1.0
Type=Application
Name=GoLand
Icon=/opt/goland/bin/goland.svg
Exec="/opt/goland/bin/goland" %f
Comment=A cross-platform Go IDE with extended support for JavaScript, TypeScript, and databases
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland
StartupNotify=true
