Vagrant.configure("2") do |config|
  config.vm.box = "rocky-dev"
  config.vm.network "private_network", ip: "192.168.56.64"
  config.vm.provider "virtualbox" do |vb|
    vb.gui = true
    vb.name = "rocky-dev"
  end
end
